.Field {
  @apply w-full h-10 rounded border border-solid border-gray-700 px-4;
  &Wrap {
    @apply relative;
  }
  &:focus-visible {
    @apply rounded outline-none;
  }
  &:focus + .Label,
  & + .Label.ActiveInput {
    color: #242424;
    @apply -top-2.5 right-auto bottom-auto left-2.5 bg-white border-primary text-xs px-2.5;
  }
}
.Label {
  z-index: 2;
  color: #BDBDBD;
  @apply border-primary flex items-center absolute transition-all left-0 top-0 right-0 bottom-0 px-6 text-base whitespace-nowrap overflow-hidden;
}
